.mainpage {
  background-image: url('/static/bg.jpeg');
  background-size: cover; 
  background-position: 0px -100px;
  text-align: center;
  height: 100vh;
}
.mainpage .container {
  padding-top: 8%;
}
.mainpage .Select {
  width: 500px;
  margin: auto;
}

.mainpage .Select-control {
  text-align: left;
}
.mainpage .Select-option {
  text-align: left;
}
.mainpage .Select-input input {
  padding-left: 20px;
}

.mainpage .custom-link {
  position: absolute;
}
.api-selected i {
  float: right;
}
.api-selected {
    width: 50%;
    display: inline-block;
    text-align: left;
    background: rgba(255, 255, 255, 0.24);
    /* border: 1px solid white; */
    /* border-radius: 3px; */
    font-weight: lighter;
    padding: 6px 10px;
    border: 1px solid rgba(8, 18, 30, 0.33);

}
.selected-apis {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}
.animation-fade {
  display: block;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.animation-fade.hidden {
  display: none;
}
.ui.label {
  min-width: 200px;
  background: teal;
  font-size: 12px;
  display: inline-block;
  padding: 1px 9px;
  border-radius: 2px;
  margin-right: 10px;
}
@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}
